.tidligereUtbetalingerHeading{
  margin: 2rem 0 0.75rem;
}

.infoMelding{
  margin-top: 2rem;
  max-width: 100%;
}

@media (min-width: 480px) {
  .tidligereUtbetalingerHeading {
    margin-top: 3rem;
  }
}