.utbetalingTitle {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background: var(--surface-neutral-subtle, rgba(0, 0, 0, 0.05));
  border-radius: 8px 8px 2px 2px;
}

.utbetalingPeriod ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.utbetalingListElement {
  background: var(--surface-neutral-subtle, rgba(0, 0, 0, 0.05));
  border-radius: 2px;
  margin-top: 1px;
}

.utbetalingListElement:last-child {
  border-radius: 2px 2px 8px 8px;
}