.tidligereUtbetalingLink {
  background-color: initial;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.nesteUtbetalingLink{
  background-color: var(--a-surface-success-subtle);
  border-radius: 8px;
}

.betalingDato {
  color: var(--a-grayalpha-700);
}

.betalingYtelse {
  color: var(--a-gray-900);
}

.betalingRight {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#nesteUtbetalingLink:hover{
  background: var(--a-surface-success-subtle-hover);
}

#tidligereUtbetalingLink:hover{
  background: var(--a-surface-neutral-subtle-hover);
}

#nesteUtbetalingLink:hover svg,#tidligereUtbetalingLink:hover svg{
  transition-duration: 0.2s;
  transform: translateX(4px);
}