.container {
  margin-top: 2rem;
}

.containerDetaljeSide{
  margin-top: 1.25rem;
}

@media (min-width: 480px) {
  .container {
    margin-top: 3rem;
  }

  .containerDetaljeSide{
    margin-top: 2rem;
  }
}
