.utbetalingerAndFilter {
  max-width: 632px;
}
.tidligereUtbetalinger {
  margin-top: 2rem;
}
.utbetalingerList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.utbetalingerOneMonth {
  margin-top: 1rem;
}

.relatertInnholdContainer {
  margin-top: 3rem;
  padding: 0 1rem;
}

.relatertInnholdLinkList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.relatertInnholdContainer li {
  margin-top: 1rem;
}

.relatertInnholdLink {
  color: rgba(38, 38, 38, 1);
}

@media (min-width: 768px) {
  .pageBody {
    display: flex;
    flex-direction: row;
    gap: 6rem;
  }

  .utbetalingerAndFilter {
    flex-grow: 1;
  }
  .tidligereUtbetalinger {
    margin-top: 2.75rem;
  }
  .relatertInnholdContainer {
    margin-top: 2rem;
    padding: 0 1rem;
  }
}
