#container {
  display: none;
}

.date{
  padding-bottom: 1rem;
  border-bottom: 2px solid var(--a-border-divider);
}

.utbetaling {
  margin-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid var(--a-border-divider);
}

.utbetalingHeading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

@media print {
  #container {
    display: unset;
  }
}
