.container {
  margin-top: 2rem;
  padding: 0;
}

.linkList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.container li {
  margin-top: 1rem;
}

@media (min-width: 768px) {
  .container {
    margin-top: 3rem;
  }
}
