.pageWrapper{
  display: flex;
  justify-content: center;
  max-width: 1200px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 6.67rem;
}

.pageContainer{
  flex-grow: 1;
  max-width: 920px;
}