.pageWrapper{
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 6.67rem;
}

.pageContainer{
  flex-grow: 1;
  max-width: 632px;
  margin: 1rem auto 0 auto;
}
.pageContainer{
  margin-top: 1rem;
}