html,
body {
  height: 100%;
}

:root {
  --custom-divider-line: 1px solid var(--a-border-divider);
}

body {
  background-color: var(--a-bg-default);
  align-items: center;
}

@media print{
  :root {
    --custom-divider-line: 0.5px solid var(--a-border-default);
  }
  .decorator-wrapper{
    display: none;
  }
}